//
//
//  TRAINING MENU STYLE
//  author : JYG
//
//


.TrainingMenuPage .intervalList{
    list-style-type: none;
}

.TrainingMenuPage .intervalList button{
    margin: 15px auto;
    border: none;
    background-color: white;
    width: 50%;
}