<div ng-controller="ScoreCtrl" class="ScorePage Page">

    <header>
        <a href="#/" ng-click="$root.animDir=true">Home</a>
    </header>

    <article>
        <ul class="scoreList">
            <li class="scoreItem" ng-repeat="item in items" ng-show="showItems">
                <div class="scoreDate col-7 f-l">{{item.date}}</div>
                <div class="scoreValue col-5 f-r">{{item.score}}</div>
            </li>
            <li class="noScore" ng-show="!showItems">NO SCORE</li>
        </ul>
    </article>
    
</div>