<div ng-controller="TrainingMenuCtrl" class="TrainingMenuPage Page">
   
    <header>
        <a href="#/" ng-click="$root.animDir=true">Home</a>
    </header>

    <article>
        
            <ul class="intervalList">
                <li><button id="2training" class="col-12" ng-click="showPopin=true; major=1; minor=0">II</button></li>
                <li><button id="3training" class="col-12" ng-click="showPopin=true; major=3; minor=2">III</button></li>
                <li><button id="4training" class="col-12" ng-click="showPopin=true; major=4; minor=5">IV</button></li>
                <li><button id="5training" class="col-12" ng-click="showPopin=true; major=6; minor=5">V</button></li>
                <li><button id="6training" class="col-12" ng-click="showPopin=true; major=8; minor=7">VI</button></li>
                <li><button id="7training" class="col-12" ng-click="showPopin=true; major=10; minor=9">VII</button></li>
            </ul>

            <!-- POPIN -->
            <div class="popin animated" ng-model="popinOptions" ng-show="showPopin" ng-class="{ 'popinIn': showPopin, 'popinOut': !showPopin }">
                <a href="#/training/{{major}}/{{minor}}/true" ng-click="$root.animDir=false">Ascendant</a>
                <a href="#/training/{{major}}/{{minor}}/none" ng-click="$root.animDir=false">Chord</a>
                <a href="#/training/{{major}}/{{minor}}/false" ng-click="$root.animDir=false">Descendant</a>
                <button ng-click="showPopin=false">Cancel</button>
            </div>
            
            <div class="popinBg animated" ng-show="showPopin" ng-class="{ 'popinBgAnimIn': showPopin, 'popinBgAnimOut': !showPopin }"></div>
            <!-- end POPIN -->
            
    </article>

</div>