<div ng-controller="TrainingMenuCtrl" class="KeyboardPage Page">
       
    <header>
        <a href="#/" ng-click="$root.animDir=true">Home</a>
    </header>
        
        
    <section>
       
        <!-- KEYBOARD -->
        <div class="keyboard">
            <button id="C3" ng-touch="playNote('C3')">C3</button>
            <button id="Db3" ng-touch="playNote('Db3')">Db3</button>
            <button id="D3" ng-touch="playNote('D3')">D3</button>
            <button id="Eb3" ng-touch="playNote('Eb3')">Eb3</button>
            <button id="E3" ng-touch="playNote('E3')">E3</button>
            <button id="F3" ng-touch="playNote('F3')">F3</button>
            <button id="Gb3" ng-touch="playNote('Gb3')">Gb3</button>
            <button id="G3" ng-touch="playNote('G3')">G3</button>
            <button id="Ab3" ng-touch="playNote('Ab3')">Ab3</button>
            <button id="A3" ng-touch="playNote('A3')">A3</button>
            <button id="Bb3" ng-touch="playNote('Bb3')">Bb3</button>
            <button id="B3" ng-touch="playNote('B3')">B3</button>
        </div>
        <!-- end KEYBOARD -->
 
        <!-- KEYBOARD -->
        <div class="keyboard">
            <button id="C4" ng-touch="playNote('C4')">C4</button>
            <button id="Db4" ng-touch="playNote('Db4')">Db4</button>
            <button id="D4" ng-touch="playNote('D4')">D4</button>
            <button id="Eb4" ng-touch="playNote('Eb4')">Eb4</button>
            <button id="E4" ng-touch="playNote('E4')">E4</button>
            <button id="F4" ng-touch="playNote('F4')">F4</button>
            <button id="Gb4" ng-touch="playNote('Gb4')">Gb4</button>
            <button id="G4" ng-touch="playNote('G4')">G4</button>
            <button id="Ab4" ng-touch="playNote('Ab4')">Ab4</button>
            <button id="A4" ng-touch="playNote('A4')">A4</button>
            <button id="Bb4" ng-touch="playNote('Bb4')">Bb4</button>
            <button id="B4" ng-touch="playNote('B4')">B4</button>
        </div>
        <!-- end KEYBOARD -->

        <!-- KEYBOARD -->
        <div class="keyboard">
            <button id="C5" ng-touch="playNote('C5')">C5</button>
            <button id="Db5" ng-touch="playNote('Db5')">Db5</button>
            <button id="D5" ng-touch="playNote('D5')">D5</button>
            <button id="Eb5" ng-touch="playNote('Eb5')">Eb5</button>
            <button id="E5" ng-touch="playNote('E5')">E5</button>
            <button id="F5" ng-touch="playNote('F5')">F5</button>
            <button id="Gb5" ng-touch="playNote('Gb5')">Gb5</button>
            <button id="G5" ng-touch="playNote('G5')">G5</button>
            <button id="Ab5" ng-touch="playNote('Ab5')">Ab5</button>
            <button id="A5" ng-touch="playNote('A5')">A5</button>
            <button id="Bb5" ng-touch="playNote('Bb5')">Bb5</button>
            <button id="B5" ng-touch="playNote('B5')">B5</button>
        </div>
        <!-- end KEYBOARD -->
        
    </section>
        
</div>